body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row{
    display: table;
    width: 100%;
    min-width: 600px;
    border-top: 1px solid #7b7b7b;
}

.col{
    display: table-cell;
    text-align: center;
    width: 16%;
}

#header{
    background: #f7f5f5;
    padding: 10px 0;
}

h3{
    font-size: 14px;
    color: #1d1821;
}

p{
    font-size: 13px;
    color: #060606;
    margin: 10px;
}

select{
    margin-bottom: 5px;
}

.button{
    border: none;
    border-radius: 2px;
    border-radius: 8px;
    width: 52px;
    color: #fff;
    line-height: 24px;
    outline: none;
}

.enabled{
    background: #464748;
    color: #fff;
    cursor: pointer;
}

.disabled{
    background: #ccc;
    color: #000;
}